// File for scss-vars.
// For example: main colors, paddings and so on.]

$action-color: #36d1dc;
$brand-color: #4990e2;

$light-grey: #f0f0f0;

$default-time: 0.3s;

$height-header: 80px;
$header-color: #fff;

$default-font: 'Roboto', sans-serif;
$icons: aliro;

$sidebar-width: 340px;
$sidebar-top-height: $height-header;

$laptop-width: 992px;
$tablet-width: 768px;
$mobile-width: 320px;

$button-color: #fff;
$button-bg: $brand-color;
