.header {
  height: $height-header;
  background-image: linear-gradient(86deg, #5b86e5, $action-color);
  display: flex;
  align-items: center;
  position: relative;
  justify-content: space-between;

  @media(min-width: $laptop-width) {
    justify-content: flex-start;
    padding-right: 250px;
  }

  .logo {
    display: flex;
    width: 150px;
    height: $height-header;
    text-decoration: none;
    text-align: center;
    align-items: center;
    justify-content: center;
    @media(min-width: $laptop-width) {
      width: $sidebar-width;
      border-right: 1px solid rgba(#000, 0.05);
    }
  }

  nav {
    @media(max-width: $laptop-width) {
      position: fixed;
      top: 0;
      bottom: 0;
      left: -200%;
      width: 100%;
      background-image: linear-gradient(86deg, #5b86e5, $action-color);
      z-index: 300;
      transition: all $default-time;
      &.active {
        left: 0;

        .menu {
          flex-direction: column;
          @media(max-height: 400px) {
            width: 50%;
          }
        }

        .header__profile {
          top: auto;
          bottom: 20px;
          left: 20px;

          @media(max-height: 400px) {
            left: auto;
            right: 80px;
          }
        }

        .logout {
          top: auto;
          transform: translate(0);
          bottom: 20px;
          right: 20px;
          margin: 0;
        }
      }
    }
  }

  &__profile {
    display: flex;
    color: $header-color;
    position: absolute;
    right: 126px;
    top: 0;
    bottom: 0;
    text-decoration: none;
    align-items: center;

    &:hover {
      .header__profile-name::after {
        width: 100%;
      }

      .header__profile-img {
        border-color: $header-color;
      }
    }

    &-img {
      margin: 0;
    }

    &-name {
      &::after {
        background-color: $header-color;
      }
    }

    &-info {
      margin-left: 18px;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  &__menu {
    border-left: 1px solid rgba($header-color, 0.2);
    &-link {
      height: $height-header;
      display: flex;
      align-items: center;
      transition: all $default-time;
      position: relative;

      &.active,
      &:hover {
        background-color: rgba(#000, 0.1);
      }

      &.active::after {
        content: "";
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 5px 5px 5px;
        border-color: transparent transparent #fff transparent;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%);
      }
    }
  }

  .logout {
    margin: 0 25px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
  }

  &__toggle {
    position: relative;
    display: inline-block;
    width: 24px;
    height: 16px;
    z-index: 1000;
    padding: 20px;
    box-sizing: content-box;
    margin-right: 10px;
    @media(min-width: $laptop-width) {
      display: none;
    }
    span {
      position: absolute;
      left: 20px;
      top: 27px;
      transition: all $default-time ease-in-out;
      cursor: pointer;
      height: 2px;
      width: 24px;
      background-color: $header-color;
      display: block;
      content: "";
      &::before,
      &::after {
        cursor: pointer;
        height: 2px;
        width: 24px;
        background-color: $header-color;
        position: absolute;
        display: block;
        content: "";
        transition: all $default-time ease-in-out;
      }
      &::before {
        top: -7px;
      }
      &::after {
        bottom: -7px;
      }
    }

    &.active {
      span {
        background-color: transparent;
        &::before,
        &::after {
          top: 0;
        }
        &::before {
          transform: rotate(45deg);
          background: $header-color;
        }
        &::after {
          transform: rotate(-45deg);
          background: $header-color;
        }
      }
    }
  }
}
